
table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  table th, table td {
    border: 1px solid #0c0c0c;
    padding: 0.5rem;
    text-align: left;
  }
  
  table th {
    background-color: #696363;
  }
  .form-container{
    width: 100%;
    align-items: center;
  }
  .form-container button{
    margin-bottom: 10px;
    width: 75px;
  }
  .form-container #botones{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  
  }